.pebbles {
  display: inline;
  font-style: italic;
}

.chihuahua {
  padding-left: 0;
  list-style: none;
}

.labrador {
  padding-left: 0;
  list-style: none;
}

.mastiff {
  padding-left: 0;
  list-style: none;
}
